## Syntax

In [1]:
import pandas as pd

In [3]:
## Python is case sensitive
Name = "Disha"
name = "Ashwini" 
print(Name)
print(name)

Disha
Ashwini

In [ ]:
# Indentation is imp in python to define blocks of code.
age=28
if age>30:
    print(age) # it will print if the condition is true

print(age) # it will print no matter if condition is true or false.

28

In [ ]:
## Line continuation
total = 1+2+3+4+\
5+6 # Due to \ above it will identify we are continuing same operation in next line.
print(total)

21

In [6]:
## multiple Statements on single line
x = 5; y= 10; z = x+y
print(z)

15

## Variables

In [1]:
# Declaring variables
Name = "Disha"
age= 23

#Printing Variables
print("Name :", Name)
print("Age:",age)

Name : Disha
Age: 23

In [4]:
# Variables must start with a letter or an "_" and contains letter, numbers and underscore.
# Variables are case sensitive.
# Python is dynamically typed, type of a variable is detrermined at runtime.
## Input
age = int(input("What is the age?"))
print(age,type(age))

23 <class 'int'>

In [5]:
# simple calculator
num1 = float(input("Enter First Number:"))
num2 = float(input("Enter Second Number:"))

sum = num1 + num2
difference = num1 - num2
quotient = num1 / num2

print("Sum:", sum)
print("Diff:", difference)

Sum: 30.0
Diff: -10.0

## Data Types

In [6]:
# They determine the type of operations that can be performed on the data, the values that the data can take and the amount of memory needed to store the data
bool()

False

In [7]:
a=10
b=10

type(a==b)

bool

In [8]:
# common error
result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [11]:
# common error
result = "Hello" + " 5"
print(result)

Hello 5

## Operators

In [ ]:
a=10
b=5

floor_div_result = a//b ##floor division- Removes decimal from answer and give number before it.
modulus_result = a%b # mpdulus operation
exponent_result = a**b # Exponenetiation

print(floor_div_result)
print(modulus_result)
print(exponent_result)

2
0
100000

### Comparison Operators

In [16]:
# == Equal to operators
a=10
b=10

a==b

True

In [17]:
str1 = "Disha"
str2 = "disha"

str1==str2

False

In [18]:
# Not Eqult to !=
str1!= str2

True

In [22]:
# Greater Than & Less Than

a=45
b=50

print(b>a)
print(b<a)

True
False

In [23]:
# Greater Than or equal to
num1 = 10
num2 = 20

print(num1<=num2)

True

### Logical Operators

In [27]:
## AND, NOT , OR

a = True
b = False

result1 = a and b
result2 = a or b
result3 = not b

print(result1)
print(result2)
print(result3)

False
True
True