# Module 3: Data Structures Assignments
## Lesson 3.3: Sets

### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
s = set(range(1, 11))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [2]:
s.add(11)
s.remove(1)
print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [3]:
set1 = set(range(1, 6))
set2 = set(range(2, 11, 2))
print(f"Union: {set1 | set2}")
print(f"Intersection: {set1 & set2}")
print(f"Difference (set1 - set2): {set1 - set2}")
print(f"Symmetric Difference: {set1 ^ set2}")

Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference (set1 - set2): {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [4]:
squares = {x**2 for x in range(1, 11)}
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [5]:
even = [x for x in s if x%2 == 0]
print(even)

[2, 4, 6, 8, 10]

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [6]:
dup_set= {1,2,2,3,4,5}
print(dup_set)
set = set(dup_set)

{1, 2, 3, 4, 5}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [1]:
set_1 = set(range(1,6))
print(set_1)
set_2 = set(range(1,4))
print(set_2)
print(f"Is set2 a subset of set1? {set_2.issubset(set_1)}")
print(f"Is set1 a superset of set2? {set_1.issuperset(set_2)}")

{1, 2, 3, 4, 5}
{1, 2, 3}
Is set2 a subset of set1? True
Is set1 a superset of set2? True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [2]:
fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [4]:
set_new = set(range(1,6))
lst = list(set_new)
lst.append(6)
set_rev = set(lst)
set_rev

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [5]:
dict = {
        frozenset({1,2}):3,
        frozenset({3,4}):7
}
print(dict)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [7]:
set3 = set(range(1,6))
for elemen in set3:
    print(elemen)

1
2
3
4
5


### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [ ]:
set4 = set(range(1,6))
while set4:
    set4.pop() # as sets are unordered collections so it can drop any random element from it.
    print(set4)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()


### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [10]:
set5 = {1,2,3}
set6 = {3,5,6}
set5.symmetric_difference_update(set6)
print(set5)

{1, 2, 5, 6}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [11]:
set7 = {1,2,3,4,5}
print(set7)
print(3 in set7)
print(6 in set7)

{1, 2, 3, 4, 5}
True
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [12]:
set8 = {(1,2), (3,4)}
print(set8)

{(1, 2), (3, 4)}