# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
tpl = tuple(range(1,11))
tpl

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [3]:
print(f"First element is {tpl[0]}")
print(f"Middle element is: {tpl[len(tpl)//2]}")
print(f"Last element is: {tpl[-1]}")

First element is 1
Middle element is: 6
Last element is: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [7]:
print(f"First 3 elements are: {tpl[:3]}")
print(f"Last 3 elments are: {tpl[-3:]}")
print(f"Elements from index 2 to 5 are: {tpl[2:6]}")

First 3 elements are: (1, 2, 3)
Last 3 elments are: (8, 9, 10)
Elements from index 2 to 5 are: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [1]:
tup1 = (1,2,3)
tup2 = (4,5,6)

concat_tpl = tup1 + tup2
concat_tpl

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [2]:
tpl = (1, 2, 3, 3, 4, 4, 4, 5)
print(f"Occurrences of 3: {tpl.count(3)}")
print(f"Index of first occurrence of 4: {tpl.index(4)}")

Occurrences of 3: 2
Index of first occurrence of 4: 4

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [3]:
tpl = (1, 2, 3, 4)
a, b, c, d = tpl
print(a, b, c, d)

1 2 3 4

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [5]:
lst = [1, 2, 3, 4, 5]
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [6]:
tpl_of_tpl = (
(1, 2, 3),
(4, 5,6)
)
print(tpl_of_tpl)

((1, 2, 3), (4, 5, 6))



### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [9]:
tpl = (1, 2, 3, 4, 5)
print(tpl)

lst = list(tpl)
lst.append(6)
tpl2 = tuple(lst)
print(tpl2)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [11]:
string = "hello"
tpl = tuple(string)
joined_string = "".join(tpl)
print(joined_string)

hello


### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [12]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8):9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}


### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [13]:
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6)
)
for tpl in nested_tpl:
    for element in tpl:
        print(element)

1
2
3
4
5
6

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [14]:
tpl = (1,1,2,4,5)
print(tpl)
set = set(tpl)
print(set)
tpl = tuple(set)
print(tpl)

(1, 1, 2, 4, 5)
{1, 2, 4, 5}
(1, 2, 4, 5)

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [15]:
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4 )
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

Minimum: 1
Maximum: 4
Sum: 10